body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
}

header {
    text-align: center;
    background-color: #f5f5f5;
}

footer {
    background-color: #ffffff;
    text-align: center;
    padding: 1rem;
    width: 100%;
}

    footer a {

        text-decoration: none;
    }

        footer a:hover {
            text-decoration: underline;
        }

.btn {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

    .btn:hover {
        transform: scale(1.1);
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }


.btn-light.text-primary {
    color: #f5f5f5;
}


.btn-light.text-danger {
    color: #f5f5f5;
}

.form-control {
    border-radius: 5px;
    border: 1px solid #ddd;
    padding: 10px 15px;
    font-size: 14px;
    transition: all 0.3s ease;
}

.form-control:focus {
        border-color: #007bff;
        box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
        outline: none;
    }

.modern-date {
    width: 200px;
}